@import "tailwindcss";

.custom-scroll {
    scrollbar-width: thin;
    scrollbar-color: #3B82F6 rgba(30, 41, 59, 0.5);
}

.custom-scroll::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
    background: rgba(30, 41, 59, 0.5);
    border-radius: 9999px;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background-color: #3B82F6;
    border-radius: 9999px;
    transition: background-color 0.3s;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #60A5FA;
}

.flex::-webkit-scrollbar {
    height: 8px;
}

.flex::-webkit-scrollbar-track {
    background: rgba(30, 41, 59, 0.5);
    border-radius: 9999px;
}

.flex::-webkit-scrollbar-thumb {
    background-color: #3B82F6;
    border-radius: 9999px;
    transition: background-color 0.3s;
}

.flex::-webkit-scrollbar-thumb:hover {
    background-color: #60A5FA;
}
